.home-container{
    background-image: url(../../images/home_bg.png);
    background-repeat: no-repeat;
    height: 900px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    opacity: 1;
  }
  .product-container{
      
  }